@model NewInventory.Models.Inventory
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form method="post">
    <input type="text" name="Name" />
    <input type="text" name="Price" />
    <input type="text" name="Quantity" />
    <input type="text" name="Type" />
    <input type="submit" name="Add" value="Add" />

</form>